<header class="bg-grad-stellar mt70">

    <div class="container">
        <div class="row mt20 mb20">
            <div class="col-md-6 text-left">
                <h3 class="color-light text-uppercase animated" data-animation="fadeInUp" data-animation-delay="100">
                    Все<small class="color-light alpha7">О магазине</small></h3>
            </div>
            <div class="col-md-9 text-right pt20">
                <ul class="breadcrumb">
                    <li><a href="{% url 'about' %}">О магазине</a></li>
                    <li><a href="{% url 'delivery' %}">Доставка</a></li>
                    <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                    <li><a href="{% url 'answer' %}">Часто задаваемы вопросы</a></li>

                </ul>
            </div>
        </div>
    </div>

</header>