{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<!-- Service Area
===================================== -->
{% include 'help_services/tags/header.html' %}
<section id="blog" class="pt75 pb50">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="blog-three-mini">
                    <h2 class="color-dark"><a href="#">Мы рады приветствовать вас на сайте нашей компании.</a></h2>


                    <img src="{% static 'store/img/other/p1.png' %}" alt="Image Carousel" class="img-responsive">
                    <p class="lead mt25">
                        Наша компания была основана в 2023 году, а наш интернет-магазин стал одним из первых магазинов,
                        осуществляющих on-line продажу бытовой и компьютерной техники в регионе. Компания
                        специализируется на розничной продаже компьютерной и бытовой техники, периферийных устройств,
                        комплектующих и расходных материалов.

                        На данный момент мы представляем собой крупную компанию, владеющую интернет–магазином и имеющую
                        в своей сети единый call-центр, который регулирует всю деятельность магазина, отдел продаж,
                        службу доставки, широкий штат квалифицированных сборщиков, собственный склад c постоянным
                        наличием необходимого запаса товаров.

                        За это время у нас сложились партнерские отношения с ведущими производителями, позволяющие
                        предлагать высококачественную продукцию по конкурентоспособным ценам.

                        Мы можем гордиться тем, что у нас один из самых широких ассортиментов техники в городе.
                    </p>
                    <h3 class="mt25 mb25">НА НАШЕМ САЙТЕ К ВАШИМ УСЛУГАМ:</h3>
                    <p>
                        реальные и конкурентоспособные цены;<br>
                        широчайший ассортимент товаров;<br>
                        качественные описания и изображения товаров;<br>
                        поиск товаров в магазине;<br>
                        система обратной связи;<br>
                        продажа только сертифицированных и имеющих легальное происхождение товаров;<br>
                        гарантийное обслуживание купленных у нас товаров;<br>
                        покупка товара, не выходя из дома или офиса;<br>
                        быстрое согласование товара с клиентом для подтверждения заказа;<br>
                        обмен товаров ненадлежащего качества и многое другое.<br>
                        Мы всегда рады общению с нашими клиентами. Если у вас есть какие-либо пожелания, предложения,<br>
                        замечания, касающиеся работы нашего Интернет-магазина - пишите нам, и мы с благодарностью примем<br>
                        ваше мнение во внимание:
                    </p>
                    <blockquote>
                        Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on
                        with improving your other innovations.
                        <footer><i class="fa fa-quote-right mt25"></i> Steve Job</footer>
                    </blockquote>
                </div>
            </div>
    </div>
</section>
{% endblock content %}