{% extends 'store/base.html' %}
{% load static %}

{% block content %}

{% include 'help_services/tags/header.html' %}

<div id="welcome" class="bg-transparent pt75">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center content-box-icon">
                    <i class="fa fa-phone bg-grad-purple"></i>
                    <h4>Контактный номер</h4>
                    <p>+996707817593</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center content-box-icon">
                    <i class="fa fa-clock-o bg-grad-purple"></i>
                    <h4>График работы</h4>
                    <p>Пн-Пт: с 9:00 до 18:00 Сб: с 9:00 до 15:00 Вс: Выходной</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center content-box-icon">
                    <i class="fa fa-map-marker bg-grad-purple"></i>
                    <h4>Место положение</h4>
                    <p>г.Бишкек улица Датка, д 91</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center content-box-icon">
                    <i class="fa fa-envelope bg-grad-purple"></i>
                    <h4>Почта</h4>
                    <p>k_kurmanov@list.ru</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="features" class="bg-grad-stellar pt75 pb75">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
{% endblock content %}
