{% extends 'store/base.html' %}
{% load static %}

{% block content %}

{% include 'help_services/tags/header.html' %}
<!-- Blog Area
===================================== -->
<section id="blog" class="pt75 pb50">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="blog-three-mini">
                    <h2 class="color-dark"><a href="#">Интернет-магазин выполняет доставку любого товара своей собственной Службой доставки.</a></h2>


                    <img src="{% static 'store/img/shop/Food_Delivery.webp' %}" alt="Image Carousel"
                         class="img-responsive">
                    <p class="lead mt25">
                        Стоимость доставки курьером
                        Стоимость доставки товара из нашего магазина - от 100 cом, при условии выбора при заказе товара
                        в качестве способа доставки нашим курьером.
                    </p>
                    <h3 class="mt25 mb25">Время доставки</h3>
                    <p>
                        Время доставки согласовывается с менеджером Службы доставки, который обязательно свяжется с вами
                        сразу после того, как вы разместите свой заказ.
                    </p>
                    <blockquote>
                         ВНИМАНИЕ! Неправильно указанный номер телефона, неточный или неполный адрес могут привести к
                        дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при
                        регистрации и оформлении заказа.Конфиденциальность ваших регистрационных данных гарантируется.
                        <footer><i class="fa fa-quote-right mt25"></i> Служба доставки</footer>
                    </blockquote>
                    <p>
                         Доставка выполняется ежедневно с 10:00 до 18:00 часов, в субботу с 10:00 до 15:00, в воскресенье
                        доставки нет. Товары, заказанные вами в субботу и воскресенье, доставляются в понедельник. Время
                        осуществления доставки зависит от времени размещения заказа и наличия товара на складе:
                        Место доставки
                        Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить
                        товар по иному адресу, необходимо сообщить адрес менеджеру Службы доставки, который свяжется с
                        вами непосредственно после оформления заказа на сайте.
                           Служба доставки: 0 772 022 908 ; 0 500 022 908.
                    </p>
                    <h4 class="mt25 mb25"> Служба доставки: 0 772 022 908 ; 0 500 022 908.</h4>

                </div>

            </div>

        </div>
    </div>
</section>


{% endblock content %}
        

