{% block footer %}

<!-- footer Area
        ===================================== -->
<div id="footer" class="footer-two bg-dark3 pt50">
    <div class="container-fluid">
        <div class="container pb35">
            <div class="row">

                <!-- footer about start -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <a href="{% url 'about' %}"><h6 class="font-montserrat text-uppercase color-light">About Us</h6></a>
                    <p class="color-light alpha7">Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                </div>
                <!-- footer about end -->

                <!-- footer menu one start -->
                <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
                    <h6 class="font-montserrat text-uppercase color-light">Menu</h6>
                    <ul class="no-icon-list">
                        <li><a href="#" class="color-light alpha7">Home</a></li>
                        <li><a href="#" class="color-light alpha7">About</a></li>
                        <li><a href="#" class="color-light alpha7">Service</a></li>
                        <li><a href="{% url 'delivery' %}" class="color-light alpha7">Delivery</a></li>
                    </ul>
                </div>
                <!-- footer menu one end -->

                <!-- footer menu two start -->
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <h6 class="font-montserrat text-uppercase color-light">Унать больше</h6>
                    <ul class="no-icon-list">
                        <li><a href="#" class="color-light alpha7">+996-707-81-75-93</a></li>
                        <li>График работы <br>Пн-Пт: с 9:00 до 18:00<br> Сб: с 9:00 до 15:00<br>Вс: Выходной</li>
                        <li><a href="#" class="color-light alpha7">stor12@list.ru</a></li>
                    </ul>
                </div>
                <!-- footer menu two end -->

                <!-- footer menu three start -->
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <h6 class="font-montserrat text-uppercase color-light">Помошь</h6>
                    <ul class="no-icon-list">
                        <li><a href="#" class="color-light alpha7">Часто задаваемые вопросы</a></li>
                        <li><a href="#" class="color-light alpha7">Гарантия</a></li>
                        <li><a href="{% url 'feedback' %}" class="color-light alpha7">Обратная связь</a></li>
                    </ul>
                </div>
                <!-- footer menu three end -->

                <!-- footer social icons start -->
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <h6 class="font-montserrat text-uppercase color-light">Social Media</h6>
                    <div class="social social-three">
                        <a href="#"><i class="fa fa-twitter color-blue"></i></a>
                        <a href="#"><i class="fa fa-facebook color-primary"></i></a>
                        <a href="#"><i class="fa fa-linkedin color-blue"></i></a><br><br>
                        <a href="#"><i class="fa fa-github color-dark"></i></a>
                        <a href="#"><i class="fa fa-pinterest color-red"></i></a>
                    </div>
                </div>
                <!-- footer social icons end -->

            </div><!-- row end -->
        </div><!-- container end -->
    </div><!-- container-fluid end -->

    <div class="container-fluid bg-dark4 pt20">
        <div class="container">
            <div class="row">

                <!-- copyright start -->
                <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
                    <p>Copyright &copy;2023 <a href="#">Pasific Studio, LLC</a>. All rights reserved.</p>
                </div>
                <!-- copyright end -->

                <!-- footer bottom start -->
                <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                    <p class="text-right">
                        <a href="#" class="mr20">Privacy Policy</a>
                        <a href="#" class="mr20">Term of Use</a>
                        <a href="#" class="mr50">Site Map</a>
                    </p>
                </div>
                <!-- footer bottom end -->

            </div><!-- row end -->
        </div><!-- container end -->
    </div><!-- container-fluid end -->
</div><!-- footer end -->
{% endblock footer %}
