{% load mptt_tags store_tag %}
<div id="sidebar" class="col-md-3 mt25 animated" data-animation="fadeInRight" data-animation-delay="250">

    <!-- Search
    ===================================== -->
    <div class="mt75 pr25 pl25 clearfix">
        <form action="{% url 'search' %}" method="get">
            <div class="form-group">
                <label class="sr-only">Email address</label>
                <input type="search" class="form-control" name="q" id="searchshop" placeholder="Search" required="">
            </div>
            <button type="submit" class="button button-sm button-block button-dark mt-10">Search</button>
        </form>
    </div>
    <!-- Sidebar Cart
    ===================================== -->

    <!-- Categories
    ===================================== -->
    <div class="pr25 pl25 clearfix">
        <h5 class="mt25">
            Categories
            <span class="heading-divider mt10"></span>
        </h5>
        <ul class="shop-sidebar pl25">
            {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
            {% else %}
            <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}


            <ul>
                {% get_list_category as list_category %}
                {% for node in list_category %}
                <li class="selected"><a href="{% url 'list' node.slug %}">{{ node.name }}</a></li>
                {% endfor %}
            </ul>


        </ul>


        <!-- Filter by Price
        ===================================== -->

<!--            <div class="pr25 pl25 clearfix">-->
<!--                <h5 class="mt25">-->
<!--                    Filter by Price-->
<!--                    <span class="heading-divider mt10"></span>-->
<!--                </h5>-->
<!--                <input type="text" id="shop-range-price" name="shop-range-price" value=""/>-->
<!--                <button type="submit" class="button button-block button-sm button-pasific mt10 hover-ripple-out">-->
<!--                    Filter Now-->
<!--                </button>-->
<!--            </div>-->


        <!-- Tags
        ===================================== -->
        <div class="pr25 pl25 clearfix">
            <h5 class="mt25">
                Popular Tags
                <span class="heading-divider mt10"></span>
            </h5>
            <ul class="tag">

            </ul>

        </div>


        <!-- Popular Products
    <!-  ===================================== &ndash;&gt;-->
        <!--    <div class="pr25 pl25 clearfix">-->
        <!--        <h5 class="mt25">-->
        <!--            Popular Products-->
        <!--            <span class="heading-divider mt10"></span>-->
        <!--        </h5>-->
        <!--        <div class="shop-sidebar-cart">-->
        <!--            <div class="sidebar-cart-container">-->
        <!--                <img src="assets/img/shop/img-shop-thumb-1.png" alt="" class="img-responsive pull-left">-->
        <!--                <h6>Man Casual Jacket</h6>-->
        <!--                <span class="sidebar-cart-price text-gray">$90.00</span>-->
        <!--                <span class="sidebar-cart-remove">-->
        <!--                                        <a href="#">-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star-half-o text-orange"></i>-->
        <!--                                        </a>-->
        <!--                                    </span>-->
        <!--            </div>-->

        <!--            <div class="sidebar-cart-container">-->
        <!--                <img src="assets/img/shop/img-shop-thumb-2.png" alt="" class="img-responsive pull-left">-->
        <!--                <h6>Man Casual Jacket</h6>-->
        <!--                <span class="sidebar-cart-price text-gray">$90.00</span>-->
        <!--                <span class="sidebar-cart-remove">-->
        <!--                                        <a href="#">-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
        <!--                                            <i class="fa fa-star-half-o text-orange"></i>-->
        <!--                                        </a>-->
        <!--                                    </span>-->
        <!--            </div>-->

        <!--            <div class="sidebar-cart-container">-->
        <!--                <img src="assets/img/shop/img-shop-thumb-3.png" alt="" class="img-responsive pull-left">-->
        <!--                <h6>Man Casual Jacket</h6>-->
        <!--                <span class="sidebar-cart-price text-gray">$90.00</span>-->
        <!--                <span class="sidebar-cart-remove">-->
        <!--                                        <a href="#">-->
        <!--                                            <i class="fa fa-star text-orange"></i>-->
<!--                                                    <i class="fa fa-star text-orange"></i>-->
<!--                                                    <i class="fa fa-star text-orange"></i>-->
<!--                                                    <i class="fa fa-star text-orange"></i>-->
<!--                                                    <i class="fa fa-star-half-o text-orange"></i>-->
<!--                                                </a>-->
<!--                                            </span>-->
<!--                    </div>-->

<!--                </div>-->
    </div>


</div>